.swap-touch-select-2
.page4.wrapper.slide-light
    .container
        .icon-hand-to-left-gray
        .row.row__4x.longSlider
            img.longSlider__decoration(src="./img/objects/longSlider-decoration.png")
            .longSlider__container.swiper-no-swiping
                img(src="./img/objects/long.png")


    .bg-lines