.sidebar2.sidebar-wrapper.swiper-no-swiping(
    v-bind:class="{ 'sidebar-container_active': this.modals.sidebar2.active }"
)
    .sidebar-close-container(v-on:click="closeModal('sidebar2')")
    .sidebar-container
        .sidebar__block-with-scroll
            .item
                .text_dark 01
                .text «Буран» был запущен с помощью универсальной двухступенчатой ракеты-носителя «Энергия».
            .item
                .text_dark 02
                .text После отделения корабля от 2-й ступени ракеты-носителя был осуществлен двукратный запуск двигателей «Бурана», что обеспечило необходимый прирост скорости для выхода на опорную круговую орбиту.
            .item
                .text_dark 03
                .text Корабль совершил чуть более двух витков вокруг Земли и начал сходить с орбиты.
            .item
                .text_dark 04
                .text Для схода с орбиты корабль развернулся двигателями газодинамического управления на 180 градусов (хвостом вперед), после чего на непродолжительное время включились основные жидкостные ракетные двигатели. Корабль начал тормозить и перешел на траекторию спуска, снова развернулся на 180 градусов (носом вперед) и выполнил планирование.
            .item
                .text_dark 05
                .text Буран» совершил полностью автоматический спуск, маневр для попадания в зону аэродрома посадки, предпосадочное маневрирование и успешную посадку.