.popup3.popup.swiper-no-swiping(
	v-bind:class="{ 'popup_active': this.modals.popup3.active }"
)
	.container
		.column.column__1x
			.subtitle Название слайда
			.touch__btn Коснитесь схемы
		.column.column__2x
			.popup3__scheme(
			v-on:click=""
			)
				.blue-background

			.help-link__right(
			v-on:click=""
			) Устройство
		.popup-top-arrow(
		v-on:click="closeModal('popup2', false)"
		)