.intro(
    v-bind="swipeIntroInit, waitUser"
)

    .intro__title {{ pages.intro.block1 }}
    .intro__lang
        .intro__lang-text.intro__lang-text_active Ru
        .intro__lang-text En
    .intro__scroll {{ pages.intro.block2 }}